/** Shopify CDN: Minification failed

Line 585:2 "dispaly" is not a known CSS property
Line 1382:0 Unexpected "}"

**/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #f7f8fa !important;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  min-width: 300px;
}
.mega-menu__content {
  background-color: #fff !important;
  color: #000 !important;
}
.mega-menu__content a {
  color: #000 !important;
}
@media screen and (min-width: 990px) {
  .page-width--narrow {
    max-width: 1400px;
    padding: 0;
  }
}
@media screen and (max-width: 990px) {
  .search-modal__form.spit {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .container-fluid,
  .content-wrapper {
    background-color: #fff;
    min-width: 1400px;
    margin: 0 auto;
  }
}
.content-wrapper {
  background-color: #fff;
}
.announcement-bar,
.footer,
.banner,
.header-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.header__menu-item {
  padding: 0.8rem;
}
.marquee-container.page-width.page-width-desktop,
.slider-mobile-gutter.page-width {
  padding: 0;
}
@media screen and (min-width: 1400px) {
  .page-width {
    padding: 0 4rem;
  }
  .page-width.html {
    padding: 0;
  }
}
@media screen and (max-width: 1399px) {
  .page-width {
    padding: 0 2rem;
  }
  .page-width.html {
    padding: 0;
  }
}
.html-code {
  margin-bottom: -5px;
}
#cart-notification {
  background: #fff;
  color: #001f5f;
}
.cart-count-bubble {
  font-size: 1.3rem;
  bottom: 2.2rem;
  left: 2.4rem;
  background: #ffd200;
  color: #00205b;
  height: 1.6rem;
  width: 1.6rem;
}
.header__icon .icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: none;
  vertical-align: middle;
}
.header__icon--cart .icon {
  height: 3.9rem;
  width: 3.9rem;
  padding: 0;
}
.cart-notification__heading .icon-checkmark {
  color: #001f5f !important;
}
.modal__close-button .icon,
.modal__close-button.link,
.cart-notification__links > *,
.cart-notification__heading,
#cart-notification h3 {
  color: #001f5f;
}
#cart-notification-button {
  background: #001f5f;
  color: #fff;
}
.cart-notification-form {
  background: #fff;
  color: #001f5f;
}
#scasl-app-container {
  max-width: 1380px;
}
@media screen and (max-width: 990px) {
  .cart-text {
    display: none !important;
  }
}
.search-modal__form .field__input {
  background: #fff;
  color: #000;
  font-size: 1.3rem;
  height: 3rem;
  padding: 1rem;
  min-height: 3rem;
}
.search__button {
  color: #000;
}
.search-modal__form .field__label {
  margin-top: -0.3rem;
  line-height: 1;
}
.list-menu__item--active {
  text-decoration: none !important;
}
.header__menu-item {
  font-size: 13px;
}
.header__icon:hover {
  color: #ffd200;
}
.header__inline-menu {
  margin-top: 0 !important;
}
.header__menu-item:hover span {
  text-decoration: none !important;
}
.pre-header-content {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 40px 0;
}
@media screen and (max-width: 990px) {
  .pre-header-content {
    justify-content: center;
    padding: 5px 10px 0;
  }
}
.header__menu-item {
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
}
.header__menu-item:hover {
  color: #ffd200;
}
/*--HEADER LINKS--*/
.header__active-menu-item {
  color: #ffd200;
  text-decoration: none;
}
.header {
  transition: all 0.2s ease-in-out;
}
.header__heading-link {
  padding: 0rem;
}
.header__heading-logo {
  height: auto;
  width: 155px;
  transition: all 0.2s ease-in-out;
}
.shopify-section-header-sticky .header {
  padding-top: 6px;
  padding-bottom: 6px;
}
.section-header.shopify-section-header-sticky .header__heading-logo {
  height: auto;
  width: 100px;
}
.section-header.shopify-section-header-sticky .search-modal__form.spit {
  display: none !important;
}
#icon-close {
  color: #fff;
}
h1 {
  font-family: "Hind", sans-serif;
  text-transform: uppercase;
  font-size: 3.5rem;
}
h1.main-page-title {
  border-bottom: 1px solid rgba(146, 146, 146, 0.3);
  padding-bottom: 20px;
}
.main-page-title,
h1,
h2.title,
h2.login-heading {
  font-family: "Hind", sans-serif;
}
h2.collapsible-content__heading {
  font-family: "Hind", sans-serif;
  font-size: 3rem;
}
.product-recommendations__heading {
  text-transform: uppercase;
  text-align: center;
}
/* NAVIGATION SWITCH */
.tab-container {
  text-align: center;
}
.tab-panel {
  display: none;
}
.tab-panel.active {
  display: block;
}
.switch {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: 48px;
  height: 22px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.tab-container .slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider-switch:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider-switch {
  background-color: #be07e5;
}

input:focus + .slider-switch {
  box-shadow: 0 0 1px #be07e5;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-switch.round {
  border-radius: 34px;
  background-color: #2196f3;
}

.slider-switch.round:before {
  border-radius: 50%;
}

/*--FOOTER--*/
.footer h2 {
  font-family: "Hind";
  font-weight: 700;
  font-size: 12px;
  color: #191919 !important;
  text-transform: uppercase;
}
.footer-block__details-content.list-unstyled {
  color: #191919;
}
.footer-block__heading::after {
  color: #191919 !important;
}
/*----------*/

/* Product */
.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
  display: none !important;
}
.badge.badge--bottom-left {
  display: none;
}
.quick-add-modal .product-info {
  top: 20px;
}
.tt-badge-container {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 1;
}
.tt-badge {
  display: inline-block !important;
  padding: 0.5rem;
}

/*---- BADGE RESIZE FOR MOBILE---*/

@media screen and (max-width: 590px) {
  .tt-badge img {
    width: 35px !important;
    height: 35px !important;
  }
  .tt-badge {
    padding: 0rem !important;
  }
}

/*------------------------------*/

.tt-badge img {
  height: 70px;
}

.product-count__text {
  display: none;
}
.product-form__submit {
  text-transform: uppercase;
}
.product__text.caption-with-letter-spacing {
  font-size: 1.4rem;
}
.price__regular .price-item--regular {
  margin-right: 0;
  font-weight: 700;
  color: #191919;
}
.price__container {
  font-family: "Hind", sans-serif;
}
/* Product End */
.main-page-title {
  font-size: 20px !important;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.03em !important;
  line-height: normal !important;
}
#continue_button {
  background-color: #00205b;
  border: 1px transparent solid;
  border-radius: 0;
  color: #fff;
}
#cart-notification {
  box-shadow: 0 0 10px #00000014;
}
.collapsible-content-wrapper-narrow {
  padding-left: 1.5rem;
  max-width: 100% !important;
}
.accordion__content {
  padding: 20px;
}
.slideshow.banner.banner--adapt_image {
  min-height: auto;
}
@media screen and (max-width: 750px) {
  .slideshow.banner.banner--adapt_image {
    min-height: 160vw;
  }
}
.slider-counter__link--dots .dot {
  display: block;
}
.slider-counter__link--active.slider-counter__link--dots .dot {
  background-color: #00205b !important;
}
.slideshow__controls .slider-button.slider-button--prev,
.slideshow__controls .slider-button.slider-button--next {
  color: #e6e6e6 !important;
}
.collection .slider-button.slider-button--prev,
.collection .slider-button.slider-button--next {
  color: #333 !important;
}
.slideshow__slide .slider-button .icon.icon-caret {
  color: #fff;
  opacity: 0.8;
}
.slideshow__slide .slider-button .icon.icon-caret:hover {
  color: #fff;
  opacity: 1;
}
.slider-button .icon {
  height: 1.5rem !important;
}
.slider-button.slider-button--next {
  position: absolute;
  right: 0px;
}
.slider-button.slider-button--prev {
  position: absolute;
  left: 0px;
}
.collection .slider-button.slider-button--next,
.collection .slider-button.slider-button--prev {
  top: 30%;
}
.collection .slider-counter {
  display: none;
}
.slider-counter.slider-counter--dots {
  position: absolute;
  bottom: 0px;
}
slideshow-component .slideshow.banner {
}
.slideshow__controls.slider-buttons {
  position: absolute;
  border: 0px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 990px) {
  .slider-component-desktop.page-width {
    max-width: 1400px !important;
    overflow: hidden;
  }
}
.slider-button.slider-button--prev,
.slider-button.slider-button--next {
}
@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 100% !important;
  }
}
@media screen and (min-width: 750px) {
  .rich-text__blocks {
    max-width: 60rem;
  }
}
.rich-text__blocks a {
  cursor: pointer;
  padding: 4px 5px;
  color: #000;
  text-decoration: none;
}
.home-multicolumn .multicolumn-card__info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.home-multicolumn .multicolumn-list h3 {
  font-family: berthold_akzidenz_groteskCn !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.home-multicolumn .multicolumn-list h3 {
  margin: 2rem 0rem !important;
  font-size: 3.6rem;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .home-multicolumn .multicolumn-list h3 {
    margin: 1rem 0rem !important;
    font-size: 2.5rem;
  }
}
.multicolumn-card__info {
  text-align: center;
}
.multicolumn-card__info .tt-icon {
  font-size: 3.8rem;
  color: #020202;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .home-multicolumn .background-none .multicolumn-card__image-wrapper {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
}
.home-multicolumn .multicolumn-card__info .button.multi {
  color: #000;
  background: #fff;
}
.home-multicolumn .multicolumn-card__info .button.multi:hover {
  color: #fff;
  background: #000;
}
.consent-registration {
  display: none;
  margin: 10px auto 0;
  font-size: 1.2rem;
}
.consent-registration a {
  text-decoration: underline;
}
.consent-registration p {
  padding: 5px 0;
  margin: 0;
}

input#required.consent-box {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: 5px;
}
.consent-terms {
  font-size: 10px;
  padding: 0;
  margin: 6px 0;
  line-height: 15px;
}
.footer__content-top {
  padding: 3rem;
}
.link link--text list-menu__item list-menu__item--link a {
  color: #000;
}
/*--FOOTER BOTTOM--*/
.footer__content-bottom {
  color: #000;
  background-color: #e9e7e7;
}
.footer {
  background-color: #eaeaea;
}
ul.payment-icons li {
  list-style: none;
  margin: 2px 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  min-width: 50px;
  max-width: 50px;
  background: #fff;
  text-align: center;
  padding: 5px 5px 0px 5px;
}
.payment-icons img {
  height: 1.8rem;
}
.payment-icons {
  display: inline-flex;
}
.footer__copyright {
  dispaly: block;
  width: 100%;
  margin: 0 !important;
}
/*--FOOTER LOGO--*/
.tekkie_town_footer_logo {
  height: auto;
  max-height: 40px;
  margin-right: 10px;
}
.footer__copyright .powered_by {
  display: flex;
  align-items: center;
  width: calc(100% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  max-width: calc(100% - var(--grid-desktop-horizontal-spacing) / 2);
  margin-top: 1.8rem;
}
@media screen and (max-width: 750px) {
  .footer__copyright .grid__item {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
}

/*--FOOTER GRID--*/

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media screen and (max-width: 750px) {
  .footer-grid {
    display: block;
  }
}

/*----------------*/

*,
*:before,
*:after {
  box-sizing: inherit;
}
.footer__content-bottom {
  border-top: none;
  padding-top: 0rem !important;
}
.grid.product-grid.contains-card {
  padding: 0 40px;
}
@media screen and (min-width: 1400px) {
  .grid.product-grid.contains-card {
    padding: 0 40px;
  }
}
.marquee-container {
  overflow: hidden;
  margin-top: -6px;
}
.marquee {
  margin: 0;
  display: inline-block;
  color: #fff;
  background: #000;
  width: 100%;
}
.marquee-words {
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 0.1em;
  padding-top: 10px;
}
@keyframes marquee-keywords {
  0% {
    transform: translate(0);
  }
  to {
    transform: translate(-50%);
  }
}
.marqtxt-group {
  padding-right: calc(25vw / 6);
  padding-left: calc(25vw / 6);
}
.tickstyle,
.marqtxt-group {
  display: inline-block;
}
.tickicon {
  display: inline-block;
  float: left;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  margin-top: -5px;
}
@media only screen and (max-width: 750px) {
  .desktop-hide {
    display: none !important;
  }
}
@media only screen and (min-width: 751px) {
  .mobile-hide {
    display: none !important;
  }
}
/* FONTS */
.footer-block__details-content p {
  font-family: Open Sans, sans-serif;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.block__details-content > p,
.footer-block__details-content > li {
  font-family: Open Sans, sans-serif;
  font-size: 12px;
}
footer .tt-color-scheme-03 .tt-mobile-collapse .tt-collapse-content .tt-list {
  line-height: 12px;
}
.color-accent-1 {
  --gradient-background: #00205b;
}
.footer__list-social.list-social:only-child {
  justify-content: right !important;
}
@media screen and (max-width: 990px) {
  .footer__list-social.list-social:only-child {
    justify-content: center !important;
  }
}
.footer_info {
  position: relative;
  bottom: 2px;
  padding-left: 3px;
}
.field__input,
.select__select,
.customer .field input,
.customer select {
  background: #f7f8fa;
  font-size: 16px;
  border: 1px solid #f7f8fa;
  padding: 11px 12px 10px 15px;
  font-family: Open Sans;
  box-shadow: none;
  outline: none;
  color: #000;
  border-radius: 0;
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
#create_customer {
  border: 1px solid #e9e7e7;
  padding: 32px 39px 20px;
  margin-bottom: 50px;
}
#create_customer h2 {
  font-family: "Hind", sans-serif;
}
.customer button {
  margin: 4rem 0 1.5rem;
  font-family: Open Sans, sans-serif;
  border: none;
  color: #000;
}
.grid-login {
  display: grid;
  grid-template-columns: none;
  padding: 10px;
}
.grid-login .grid-item {
  border: 1px solid #e9e7e7;
  padding: 15px;
  margin: 10px;
  order: 1;
}
@media only screen and (min-width: 751px) {
  .grid-login .grid-item {
    padding: 32px 39px 20px;
  }
  .grid-login {
    grid-template-columns: 50% 50%;
  }
}
h1#login {
  font-size: 20px;
  text-align: left;
}
.grid-item.new-customer {
  text-align: left;
  order: 2;
}
a.btn.btn-top.btn-border {
  display: block;
  float: left !important;
}
.btn.btn-border {
  background: #fff;
  color: #000;
  border: 2px solid #ccc;
  padding: 14px 20px 4px 20px;
  text-decoration: none;
}
.customer.login.grid-login {
  max-width: 100% !important;
}
.additional-links {
  list-style: none;
  display: inline-grid;
}
#marketing {
  margin-top: 20px;
}
.field:after,
.select:after,
.customer .field:after,
.customer select:after,
.localization-form__select:after {
  box-shadow: none;
}
.newsletter__subheading.rte p {
  font-size: 14px;
}
.newsletter__wrapper .contact__fields {
  margin-top: 0.2rem !important;
}
.contact__fields {
  display: grid;
  grid-template-areas: "newsletter__subheading modal__toggle-open newsletter_social";
  gap: 10px;
}
.newsletter__subheading {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
}
.newsletter-form__message {
  font-size: 1.8rem;
}
.form__message .icon,
.customer .form__message svg {
  height: 1.5rem;
  width: 1.5rem;
}
.news-text.small {
  font-size: 1.2rem;
}
/*--NEWSLETTER BANNER--*/
.newsletter__wrapper.color-background-1 {
  background: #ffd200;
  color: #001f5f;
  padding: 1rem 3rem;
}
.newsletter__subheading.rte p {
  color: #001f5f !important;
  font-family: open sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
/*--SIGN UP BUTTON--*/
button.newsletter__button.button.pre {
  background: #001f5f;
}
.section-footer-padding {
  background: #eaeaea;
}
#ContactForm .field__input {
  background-color: #ccc;
  font-size: 1.6rem;
  box-sizing: none;
  transition: box-shadow var(--duration-short) ease;
  border-radius: none;
  position: relative;
  background: #f7f8fa;
  border: 0px solid #f7f8fa;
}
#ContactForm .field:after {
  border: 0px solid #f7f8fa;
  box-shadow: none;
}
#ContactForm .button {
  color: #000;
}
#ContactForm .button:hover {
  background: #000000;
  color: #fff;
}
.newsletter-modal__content {
  padding: 4.5rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.newsletter-modal__content .modal__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.8rem;
}
.newsletter-modal.modal .modal__content {
  background: rgba(0, 0, 0, 0.9) !important;
}
h2.newsletter-modal__content-heading {
  color: #00205b;
  font-family: "Hind", sans-serif;
  font-size: 5rem;
  margin: 0.2rem;
}
h3.newsletter-modal__content-heading {
  color: #00205b;
  font-family: "Hind", sans-serif;
  font-size: 3rem;
  margin: 0.1rem 1rem 3rem;
}
.newsletter-modal__content .newsletter-form {
  max-width: 100%;
}
.newsletter-modal__content a {
  color: #fff;
}
.modal__close-button.link {
  height: 7.4rem;
  width: 7.4rem;
}
.newsletter-modal__content .modal__close-button {
  top: 5.2rem;
  right: 5.2rem;
}
.newsletter-modal__content .newsletter__button {
  margin: 1rem 0 0 !important;
  width: 100% !important;
  color: #000;
  background: #00205b;
}
.container-fulid {
  max-width: 1400px !important;
  padding: 3rem 7rem;
}
input.SPCMP_Add[type="button"].new_SPCMP_Btn,
input.SPCMP_Add[type="button"].new_SPCMP_Btn:hover {
  max-width: 44rem;
}
#sa_ca_wrapper .sa_ca_idelete {
  background-color: #000 !important;
}
input.SPCMP_Add[type="button"].new_SPCMP_Btn,
input.SPCMP_Add[type="button"].new_SPCMP_Btn:hover {
  border-radius: 0 !important;
}
.sa_cmp_addcart:hover {
  cursor: pointer;
}
th {
  background: #00205b;
  color: #fff;
}
.cart-items thead th:first-child,
.cart-item .cart-item__quantity,
.cart-items .cart-items__heading--wide,
.cart-items *.right {
  padding: 1rem;
}
span.active-facets__button-inner {
  color: #fff !important;
  background: #001f5f !important;
  border-radius: 0rem !important;
}
.tax-note.caption-large.rte {
  display: none;
}
.cart__blocks > * + * {
  margin-top: 2rem;
}
#cookie-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  border-radius: 0;
  display: none;
  background: #00205b;
  color: #fff;
  padding: 6px;
  text-align: center;
}
#cookie-bar a {
  color: #fff;
}
.cookie-wrapper {
  display: grid;
  grid-template-areas: "cookies-copy cookies-copy cookies-copy button";
}
#cookie-bar button {
  color: #000;
  border-color: transparent;
  background-color: #ffd200;
  font-weight: 700;
  padding: 0 8px;
  grid-area: button;
  margin: 0 auto;
  display: grid;
}
#cookie-bar button:hover {
  opacity: 0.7;
}
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@media screen and (max-width: 750px) {
  .cookie-wrapper {
    grid-template-areas: "cookies-copy" "button";
  }
  #cookie-bar button {
    margin: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
table {
  box-shadow: none !important;
}
.saso-cross-sell-popup tr {
  border-top: none !important;
}
.saso-cross-sell-popup .saso-add-to-cart,
.saso-cross-sell-popup button.saso-click-here {
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .ck-msg {
    display: flex;
    flex-wrap: wrap;
  }
  .footer_info {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .contact__fields {
    display: grid;
    grid-template-areas: "none";
    gap: 10px;
  }
  button.newsletter__button.button.pre {
    margin: 0 auto !important;
  }
}

/* Temp */
.saso-summary {
  display: none;
}

/* Back To Top */
#back-to-top {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 10px;
  border-radius: 50%;
  background-color: #00205b;
  color: white;
  border: none;
  padding: 1.8rem 1.9rem;
  animation: fadeIn 1s;
  z-index: 9999;
}
#back-to-top .icon {
  transform: rotate(180deg);
  height: 2rem;
  width: 2rem;
}
@media screen and (max-width: 990px) {
  #back-to-top {
    display: none !important;
  }
}

/* tt-carousel-brands */
.tt-carousel-brands {
  margin: 4px 0px -4px;
}

.tt-carousel-brands .slick-slide {
  text-align: center;
}

.tt-carousel-brands a {
  display: inline-block;
  padding: 0 20px;
}

.tt-carousel-brands a img {
  height: auto;
  width: 100%;
  max-width: 131px;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 1;
}

.tt-carousel-brands a:hover img {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 0.8;
}

html:not(.mac):not(.touch-device) .tt-carousel-brands .slick-track {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Slider */
.slider-component-desktop {
  padding: 0px 30px !important;
}
@media (min-width: 750px) {
  .slider-component-desktop {
    padding: 0px 40px !important;
    max-width: 1400px;
  }
}

/* Loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.prev-next {
  display: grid;
  grid-template-columns: auto 40px 40px;
  gap: 10px;
  padding-top: 5px;
}
.previous-product {
  grid-column: 2;
  grid-row: 1;
}
.next-product {
  grid-column: 3;
  grid-row: 1;
}
.prev-next .slider-button.slider-button--prev {
  position: relative;
  top: -50px;
  left: -20px;
}
.prev-next .slider-button.slider-button--next {
  position: relative;
  top: -48px;
  left: 35px;
}
.prev-next .slider-button {
  width: 26px;
  height: 26px;
}
.btn {
  background: #ffd200;
  border: none;
  color: #001f5f;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  letter-spacing: 0.03em;
  position: relative;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0 3rem;
  cursor: pointer;
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  max-width: 44rem;
  margin-left: -2px;
  min-width: calc(12rem + var(--buttons-border-width) * 2);
  min-height: calc(4.5rem + var(--buttons-border-width) * 2);
}
.btn:hover {
  background: #00205b;
  border: none;
  color: #fff !important;
}

/* Boost */
.boost-pfs-filter-right-col {
  padding-left: 20px !important;
}
.boost-pfs-container-default,
.boost-pfs-container-default-box {
  max-width: 1400px !important;
}
.boost-pfs-container-default-box.tt-header {
  padding: 0px !important;
}
.boost-pfs-container-default .boost-pfs-container-default-box,
.boost-pfs-section-header .boost-pfs-container-default-box {
  padding: 0px !important;
}
.boost-pfs-filter-collection-header-wrapper .boost-pfs-section-header {
  max-width: 1400px !important;
}
h1.boost-pfs-filter-collection-header {
  display: none;
}
.boost-pfs-filter-collection-description {
  margin-top: 0px !important;
}
.boost-pfs-filter-collection-header-wrapper {
  padding-top: 0px !important;
  background: #ffffff !important;
}
.collection__title.title-wrapper {
  text-align: center;
  text-transform: uppercase;
}
h2.title.h1 {
  font-size: 2.5rem;
}
.boost-pfs-filter-product-bottom {
  text-align: center;
}
a.boost-pfs-filter-product-item-title {
  text-decoration: none;
}
.boost-pfs-filter-product-item-label .sale {
  display: none !important;
}
@media (min-width: 768px) {
  .boost-pfs-filter-product-item-vendor {
    margin-bottom: 4px !important;
  }
}
/* Menu Switch */

.shopify-policy__container {
  max-width: 1400px;
  padding: 20px 40px;
}
.spacer {
  padding: 100px 50px;
}
/* Freshdesk */
.chat-fc-form-outer {
  left: 20px !important;
}
/* COLLECTION B-PFS MODAL */

/* SIGN UP BUTTON FOOTER MENU - MOBILE  */

@media screen and (max-width: 749px) {
  .grid .footer-block__heading + .footer-block__details-content {
    overflow: visible !important;
  }
}

.boost-pfs-filter-product-item-image {
  overflow: hidden;
}
img.boost-pfs-filter-product-item-main-image {
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease;
}

img.boost-pfs-filter-product-item-main-image:hover {
  transform: scale(1.1);
}

/* SLIDER BUTTONS RENDER ON AUTO SLIDE */

.wastxt {
  text-decoration: line-through;
  color: #ccc;
}
}
